node_modules/
.env
# but keep the example template so other devs can copy it
!.env.example
build/
dist/
uploads/
*.log
.DS_Store
smtpaccesskey.csv
*.csv  //*. use to ignore all the files and # use commnet the content of that file
*.log
smtpaccesskey.csv
